.category {
    .btn-add {
        display: flex;
        justify-content: flex-end;
        button {
            padding: .5rem 1rem;
            border-radius: 5px;
            color: white;
            background-color: #db4c3f;
            border: none;
            outline: none;
        }
    }
    .container {
        padding: 2rem;
        table,
        td,
        th {
            border: 1px solid black;
            border-collapse: collapse
        }
        th {
            min-width: 100px;
        }
        table {
            margin-top: 1rem;
            border-radius: 5px;
            width: 100%;
            .header {
                height: 50px;
                font-size: 1rem;
                font-weight: 400;
                background-color: #db4c3e;
                color: white;
                .title-header {
                    display: flex;
                    justify-content: center;
                }
            }
            .content {
                height: 35px;
                td {
                    padding-left: 1rem;
                    .icon {
                        cursor: pointer;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        margin: 0 auto;
                        justify-content: center;
                        align-items: center;
                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
                transition: .5s;
                &:hover {
                    background-color: rgb(219, 216, 216);
                }
                .action {
                    .icon {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            .tags {
                display: flex;
                justify-content: flex-end;
                .tag {
                    padding: .2rem .5rem;
                    border-radius: 5px;
                    margin: 0 .5rem;
                    color: white;
                }
            }
        }
    }
    .form-submit {
        padding: 1rem;
        transition: 1.5s;
        .submit {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button {
            padding: .5rem 2rem;
            border-radius: 5px;
            margin-top: 1rem;
            background-color: #db4c3e;
            box-shadow: none;
            outline: none;
            border: none;
            color: white;
        }
    }
}

.header-job {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    h3 {
        font-size: 2rem;
        font-weight: 500;
    }
    .hr {
        height: 2px;
        bottom: -10px;
        width: 200px;
        margin-top: 1rem;
        background-color: #db4c3e;
        position: absolute;
    }
}

.btn-form-input {
    margin-bottom: 0.5rem;
    label {
        width: 100px;
    }
    input {
        width: 100%;
        height: 42px;
        font-size: 1.1rem;
        border-radius: 5px;
        padding-left: 1rem;
        border: 1px solid gray;
    }
}

.btn-form-input-checkbox {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    label {
        width: 150px;
    }
    input {
        width: 20px;
        height: 20px;
    }
}

.btn-form-input-file {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    label {
        width: 150px;
    }
    .file {
        margin-left: 2rem;
        .icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor: pointer;
            svg {
                width: 20px;
                height: 20px;
                color: #db4c3e;
            }
        }
    }
}

.important {
    position: relative;
    .checkbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.color-green {
    color: green;
}

.color-red {
    color: red
}